<div *ngIf="task&&task.id!=999" class="contianer " align="top">
    <h2>{{task.taskName}}</h2>
    <!-- <h2>{{project.projectName}}</h2> -->
    <div>
        <mat-form-field class="inputbox">
            <mat-label>TaskName</mat-label>
            <input matInput placeholder="{{task.taskName}}" #newTask (keyup.enter)="save(newTask.value)">
        </mat-form-field>
    </div>
    <button mat-button (click)="save(newTask.value)">Save</button>
    <button mat-button (click)="delete()">Delete</button>
</div>
<div *ngIf="task==null">
    <h2>Write Down New Task</h2>
    <div>
        <mat-form-field class="inputbox">
            <mat-label>Taskname</mat-label>
            <input #newTask matInput placeholder="" [formControl]="taskFormControl" (keyup.enter)="add(newTask.value)">
            <mat-error *ngIf="taskFormControl.hasError('required')">
                Value is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <button mat-button (click)="add(newTask.value)">Add</button>
</div>
<div *ngIf="task.id==999" class="contianer " align="top">
    <h2>{{project.projectName}}</h2>
    <!-- <h2>{{project.projectName}}</h2> -->
    <div>
        <mat-form-field class="inputbox">
            <mat-label>ProjectName</mat-label>
            <input matInput #newProject (keyup.enter)="saveProject(newProject.value)">
        </mat-form-field>
    </div>
    <button mat-button (click)="saveProject(newProject.value)">Save</button>
    <!-- <button mat-button (click)="delete()">Delete</button> -->
</div>