<div id="div1">
  <mat-card class="example-card">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>My Task</span>
        <span class="example-spacer"></span>
        <button mat-raised-button id="editButton">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon"
            (click)="changeIcon()">{{states}}
          </mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card-content align="center">
      <button *ngFor="let task of tasks" class="TaskButton" mat-raised-button (click)="openDialog()" class="TaskButton"
        mat-button>
        <p>{{task.taskname}}</p>
      </button>
      <button class="TaskButton" mat-raised-button (click)="openDialog()" class="TaskButton" mat-button>
        <p>PLUS</p>
      </button>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
  </mat-card>
</div>