<div class="container-fluid" id="test" style="height:100%">
  <div class="row">
    <div class="jumbotron col-md-12">
      <div class="container">
        <h1 id="titleBasics" class="display-4"><strong>OUR TIME</strong></h1>
        <p class="lead">Time always goes by and we can't save them , but we still can ues them make our life brilliant.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12" id="leftTable">
      <div class="container">
        <table class="table table-hover">
          <thead>
            <h1><strong>Your Project</strong></h1>
          </thead>
          <tbody>
            <tr *ngFor="let task of showtasks">
              <!-- <th scope="row">{{task.id}}</th> -->
              <td *ngFor="let item of task | keyvalue">{{item.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">

    </div>
    <div class="col-md-3 col-sm-12">
      <div class="row col-md-12">
        <div class="container" style="background-color: blue;">

        </div>
      </div>
    </div>
  </div>

</div>