.example-card {
  max-width: 50%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

#div2 {

    background-color:rgb(218, 255, 98);
}
#div3 {

    background-color:rgb(255, 96, 96);
}
#div4 {

    background-color:rgb(72, 212, 255);
}
#title1 {
    font-size: 10rem;
    font-weight: 600;
}

.example-container {
  height: 20rem;
  overflow: auto;
  width:100%;
}
table{
  width:100%;
}

.jumbotron{
  padding-top: 2rem;
  height: 8rem;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 0;
}

#leftTable{
  background-color:rgba(150, 255, 255, 0.5);
  border-radius: .5rem;
  margin: .5rem .5rem .5rem .5rem;
  width: 100%;
  padding: 0 0 0 0 ;
}
