#div1 {
    height:100%;
    background-color:rgb(255, 0, 212);
}
app-bottom-navbar{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#title{
    text-align: center;
    font-size: larger;
}
.example-card {
    max-width: 400px;
  }
  