<div *ngIf="project" class="contianer " align="top">
    <!-- <button (click)="showTasks()">{{project.projectName}}</button> -->
    <div class="tab-content" id="nav-tabContent">
        <div id="nav-home" role="tabpanel" aria-labelledby="nav-SecondProject-tab">
            <mat-card-content align="center" style="padding-top: 1rem; overflow: hidden;">
                <div *ngFor="let task of tasks" style="display: inline;">
                    <button *ngIf="task.belongToProject == project.projectName || task.belongToProject == ''" class="TaskButton" mat-raised-button (click)="selectTask(task)  " class="TaskButton"
                        mat-button>
                        <!-- <h1>{{project.projectName}}</h1> -->
                        <p>{{task.taskName}}</p>
                    </button>
                </div>

            </mat-card-content>
        </div>
        <!-- <div class="tab-pane fade" id="SecondProject" role="tabpanel" aria-labelledby="nav-profile-tab">2</div> -->
        <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">3</div> -->
    </div>
</div>
<!-- <div *ngIf="project==null">
    null -->
<!-- <h2>Write Down New Task</h2>
    <div>
        <mat-form-field class="inputbox">
            <mat-label>Taskname</mat-label>
            <input #newTask matInput placeholder="" [formControl]="taskFormControl" (keyup.enter)="add(newTask.value)">
            <mat-error *ngIf="taskFormControl.hasError('required')">
                Value is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <button mat-button (click)="add(newTask.value)">Add</button> -->
<!-- </div> -->