#div1 {
    height:100%;
    background-color:rgb(255, 255, 255);
}
#div2 {

    background-color:rgb(218, 255, 98);
}
#div3 {

    background-color:rgb(255, 96, 96);
}
#div4 {

    background-color:rgb(72, 212, 255);
}
